<!DOCTYPE html>
<html dir="rtl" lang="ar">

  <head>



    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <style>



      .title {
        text-align: center;
        font-weight: 200;
        font-color: Blue;
      }
    </style>
  </head>
  <body>
      <nav>
    <div class="nav-wrapper" style="background-color:#F0FFFF">
      <a href="{% url 'home' %}" class="brand-logo">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Wiki_Project_Med_Foundation_logo.svg/280px-Wiki_Project_Med_Foundation_logo.svg.png"
     width="60" height="60"></a>

      <ul id="nav-mobile" class="Left hide-on-med-and-down" >

        <li><a href="{% url 'translating-page' %}" >  <p style="color:blue;">ترجم</p>
        </a></li>
        <li><a href="" ><p style="color:blue;">سجل</p></a></li>
        <li><a href="{% url 'project-page' %}"><p style="color:blue;">صفحة المشروع</p></a></li>


      </ul>

    </div>
  </nav>
      <div class="container">
        {% block container %}{% endblock %}
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" />
  </body>
</html>