{% extends 'Wiki/articles_base.html' %}



{% block container %}
<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" type="text/css" href="//www.fontstatic.com/f=rawy-bold" />
    <meta charset="UTF-8">
    <title>Wiki Med project</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Amiri');

    h1.italic {
    font-style: italic;
}
h2 {
    font-family: 'Amiri', serif;
    font-size: 24px
}

h1 {
    font-family: 'Amiri', serif;
}


    p.italic {
    font-style: italic;
}
</style>
</head>
<body>

<h1>مشروع ويكي طب </h1>
<h2>

ويكيبيديا هي مشروع موسوعة رقمية، متعددة اللغات، حرة المحتوى. يستطيع أي شخص التحرير فيها بدون تسجيل، ويستطيع أي شخص الاستفادة من المحتوى، واستغلاله بهدف تجاري أو غيره وفقًا لترخيص الموسوعة. هناك 295 نسخة من ويكيبيديا بلغة مختلفة. وفي النسخة العربية، يساهم أكثر من 4,193 مساهما نشطا في كتابة ما يزيد عن 453,365 مقالة، ويجري آلاف الزوار، من مختلف أنحاء العالم، الكثير من التعديلات، وينشئون الكثير من المقالات الجديدة يوميًا.


</h2>
</body>
</html>
{% endblock %}